In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Data-2/Stocks/a.us.txt')

In [3]:
data

            Date    Open    High     Low   Close    Volume  OpenInt
0     1999-11-18  30.713  33.754  27.002  29.702  66277506        0
1     1999-11-19  28.986  29.027  26.872  27.257  16142920        0
2     1999-11-22  27.886  29.702  27.044  29.702   6970266        0
3     1999-11-23  28.688  29.446  27.002  27.002   6332082        0
4     1999-11-24  27.083  28.309  27.002  27.717   5132147        0
5     1999-11-26  27.594  28.012  27.509  27.807   1832635        0
6     1999-11-29  27.676  28.650  27.380  28.432   4317826        0
7     1999-11-30  28.350  28.986  27.634  28.480   4567146        0
8     1999-12-01  28.480  29.324  28.273  28.986   3133746        0
9     1999-12-02  29.532  30.375  29.155  29.786   3252997        0
10    1999-12-03  30.336  30.842  29.909  30.039   3223074        0
11    1999-12-06  30.547  31.348  30.505  30.883   2385046        0
12    1999-12-07  30.883  31.052  29.909  30.547   2348161        0
13    1999-12-08  30.547  30.795  30.249  30.505   2000481        0
14    1999-12-09  30.547  31.012  30.547  30.924   2150096        0
15    1999-12-10  30.842  31.012  30.209  30.209   1764043        0
16    1999-12-13  30.713  31.221  29.958  30.713   4260349        0
17    1999-12-14  30.635  30.635  28.391  29.027   2467856        0
18    1999-12-15  28.350  28.561  27.676  28.142   3091820        0
19    1999-12-16  28.350  31.896  28.350  31.896   2738063        0
20    1999-12-17  31.308  31.808  30.674  31.012   3929255        0
21    1999-12-20  31.221  31.687  31.134  31.646   1268225        0
22    1999-12-21  31.517  31.517  31.052  31.470   2394232        0
23    1999-12-22  31.470  32.104  31.261  32.104   2019439        0
24    1999-12-23  32.065  33.754  32.025  33.582   2288310        0
25    1999-12-27  33.712  35.906  33.455  35.648   2150692        0
26    1999-12-28  36.620  41.514  36.412  41.514   3772374        0
27    1999-12-29  42.528  53.369  42.487  48.602  11146026        0
28    1999-12-30  51.302  54.003  50.122  53.497   7069075        0
29    1999-12-31  53.666  53.966  51.473  52.188   2046399        0
...          ...     ...     ...     ...     ...       ...      ...
4491  2017-10-02  64.290  65.070  64.290  64.870   1693854        0
4492  2017-10-03  65.060  65.780  65.060  65.150   1216981        0
4493  2017-10-04  65.150  65.870  65.150  65.830    743116        0
4494  2017-10-05  65.850  65.990  65.520  65.700   1974081        0
4495  2017-10-06  65.680  66.380  65.660  66.360   1252893        0
4496  2017-10-09  66.490  66.770  66.020  66.560   1542307        0
4497  2017-10-10  66.680  66.860  66.220  66.600   1143075        0
4498  2017-10-11  66.680  66.970  66.340  66.620   1794800        0
4499  2017-10-12  66.650  67.600  66.540  67.540   1470426        0
4500  2017-10-13  67.630  67.820  66.890  66.990    943164        0
4501  2017-10-16  67.200  67.370  66.770  66.910   1473459        0
4502  2017-10-17  66.680  66.680  65.990  66.120   1711833        0
4503  2017-10-18  66.380  66.585  66.070  66.440   1150468        0
4504  2017-10-19  66.440  66.975  66.060  66.880   1359119        0
4505  2017-10-20  67.200  67.530  67.070  67.250   1506112        0
4506  2017-10-23  67.450  67.680  66.930  67.020   1267570        0
4507  2017-10-24  67.310  67.550  66.880  67.320   1966916        0
4508  2017-10-25  67.900  68.520  67.030  67.390   1795014        0
4509  2017-10-26  67.530  67.830  67.200  67.710   1418152        0
4510  2017-10-27  67.800  68.010  67.410  67.970   1440996        0
4511  2017-10-30  67.900  67.930  67.100  67.490    834858        0
4512  2017-10-31  67.540  68.170  67.540  68.030   1614432        0
4513  2017-11-01  68.200  68.440  67.840  68.020   1357998        0
4514  2017-11-02  68.080  68.380  67.810  68.130   1856865        0
4515  2017-11-03  68.090  68.670  68.010  68.370   1072288        0
4516  2017-11-06  68.220  68.450  68.220  68.220    995731        0
4517  2017-11-07  68.320  68.640  68.040  68.250    966466        0
4518  2017-11-08  68.100  68.330  67.771  68.110    972616        0
4519  2017-11-09  67.920  67.980  66.910  67.470   1673083        0
4520  2017-11-10  67.350  67.580  66.700  66.810   1704549        0

[4521 rows x 7 columns]